angular-editor {
  button {
    background-color: transparent !important;
    border: none !important;

    &::before {
      background-color: transparent !important;
    }
  }

  ol,
  ul,
  menu {
    margin: 10px !important;
    list-style-type: initial !important;
  }

  ol {
    list-style: auto !important;
  }

  ul {
    list-style: unset !important;
  }

  li {
    padding: 5px 0;
  }
}

.angular-editor-toolbar {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: start !important;
  align-items: center !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom: 0 !important;
  background-color: #f2f4f7 !important;
}

.angular-editor-textarea {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-width: 1px !important;
  border-top: 0 !important;
  border-color: #d3d6dc !important;
  color: #111827 !important;
  outline: none !important;
  margin-top: 0 !important;

  @apply shadow;
}

.ae-font .ae-picker-label:before {
  background: none !important;
  background-color: transparent !important;
}

.html-editor {
  ol {
    list-style: auto !important;
  }

  ul {
    list-style: unset !important;
  }

  li {
    padding: 5px 0;
  }
}
