<section [dir]="dir()" class="w-full h-full overflow-auto">
  <div
    class="w-full absolute left-0 flex justify-between items-center z-10 md:p-5 md:px-7 sm:p-3 p-2"
  >
    <ng-content select="[backBtn]"
      ><button class="invisible"></button
    ></ng-content>

    <button class="close-btn" (click)="onClose.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <ng-content />

  @if (progressValue()>0 &&(progressValue() <=100)) {
  <div class="relative h-2 -mt-2 bg-[#DEDFE6]">
    <div
      [ngStyle]="{ width: progressValue() + '%' }"
      class="h-full bg-lightBlue rounded-e-lg"
    ></div>
  </div>
  }
</section>
